<DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
Ehub</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% comment %} <link rel="stylesheet" type="text/css" href="style.css" href='main.css'> {% endcomment %}
{% comment %} <script src='main.js'></script> {% endcomment %}
</head>
<body>
 
 {% include 'navbar.html' %}

  {% block content %}

    {% endblock %}

</body>
</html>
