{% extends 'main.html' %}


{% block content %}


<h1> Hello world</h1>   

    <div>
     <div>

          {% for room in rooms %} 

             <div>
                 <h4>{{ room.id }} --<a href="{% url 'room' room.id %}"> {{ room.name }}</h4> </a>

               
             </div>

          {% endfor %}

     </div>
    </div>
    {% endblock %}